{% extends 'webclient/base.html' %}
{% load humanize %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profits.css' %}">
{% endblock %}

{% block content %}

<section class="service-area">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Seguro comprado</th>
                    <th>Mis ganancias $</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Daniel Montoya</td>
                    <td>Soat</td>
                    <td>$ 35.000</td>
                </tr>
                <tr>
                    <td scope="row">Natalia Rodriguez</td>
                    <td>Soat</td>
                    <td>$ 40.000
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock%}

{% block nav-script%}
{% endblock %}

{% block extra_js %}


{% endblock %}
