{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="es">
<head>
	<title>Iniciar sesión influencer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
    <div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'login/images/bg-01.jpg' %}');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" id="login" method="POST">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Iniciar sesión Influencer
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Debes ingresar tu email">
                        <input class="input100" type="email" name="email" placeholder="Email">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Ingresa tu contraseña">
                        <input class="input100" type="password" name="password" placeholder="Contraseña">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Iniciar sesión
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="#">
                            Olvidaste tu contraseña?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'login/js/main.js' %}"></script>
    <script src="{% static 'js/notify.min.js' %}"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    {% if messages  %}
        {% for message in messages %}
            <script>
                
                $.notify("{{message}}");
            </script>
        {% endfor %}
    {% endif %}
    
    <script type="text/javascript">
       
        $(document).ready(function() {

            $('#password1').keyup(function() {
                $('#result').html(checkStrength($('#password1').val()))
            })
            $('#password2').keyup(function() {
                $('#valid').html(checkValid($('#password1').val(), $('#password2').val()))
            })
            
        });

        axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}'
        // axios.defaults.headers.common['Api-Key'] = '{{Api_Key}}'
        
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $("#login").on('submit', function(ev){
            ev.preventDefault()
            data = new FormData($(this)[0])
            axios.post("{% url 'webclient:login' %}", data)
                .then(function(response){
                    if (response.data.length > 0){
                        window.location.href = response.data
                    }
                })
                .catch(function(error){
                    console.log(error.response.data.error)
                    $.notify(
                        error.response.data.error,
                        {
                            type:"danger", 
                            align:"center", verticalAlign:"top",
                            delay:3500,
                            animation:true,
                            animationType:"scale"
                        }
                    );
                });
        })

        $("#forget").on('submit', function(ev){
            ev.preventDefault()
            $('#reg_submit_forget').attr('disabled', true)
            data = $(this).serialize(),
            axios.post("/accounts/password/reset/", data)
                .then(function(response){
                    toastr.success("Se ha enviado un correo con el link de restablecimiento de tu contraseña.")
                    setTimeout(function(){
                        location.reload()
                    }, 1500);
                })
                .catch(function(error){
                    console.log(error)
                    toastr.error("El correo electrónico no se encuentra registrado")
                    $('#reg_submit_signup').attr('disabled', false)
                });
    })
    </script>

</body>
</html>