{% extends 'webclient/base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
{% endblock %}

{% block content %}


    <div class="banner-area">
        <div class="container">
            <div class="row justify-content-center height align-items-center">
                <div class="col-lg-8">
                    <div class="banner-content text-center">
                        <span class="text-white top text-uppercase">Contraseña cambiada exitosamente</span>
                        <h1 class="text-white text-uppercase">Ahora ve a la aplicación e inicia sesión con tu nueva contraseña</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown-divider"></div>
    <!-- Start Service Area -->
    <section class="service-area">
    </section>
    <!-- End Service Area -->
    <!-- Start Amazing Works Area -->

   
{% endblock %}

{% block extra_js %}


{% endblock %}