
.my-profile-title {
    color: #fff;
    font-size: 3em;
}

.section-info {
    color: #fff;
}

.form-group label {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}

.modal .form-group label {
    color: #555 !important;
    font-size: 1.1em;
    font-weight: 600;
}